<html>
	<head>
		<title>Hacking Journalism</title>
		{% load extraTags %}
		{% load staticfiles %}
		<link rel='stylesheet' type="text/css" href="{% static 'trending/style.css' %}"
	</head>
	<body>
		<div class='header'>
		<p>Enter any number of twitter users whose hashtag usage you want to examine</p>
		<p id='warning'>Enter the twitter short name without an '@' symbol, e.g. "washingtonpost" or "embedly"</p>
		<p id='caps'>Twitter handle is not cap sensitive</p>
		</div>
		{% if error %}
       		<p style="color: red;">Please submit a search term.</p>
    	{% endif %}
    	<button class='button' id='addMore'>Add another</button>
		<form class='enter_users' action="/results/" method='get'>
			<ul id='inputList' style='list-style: none'>
			<li><input type='text' name="q"></li>
			</ul>
			<input class='submit' type='submit' value='Collect'>
		</form>

		{% if hashtags %}
			<ul style='list-style-type: decimal'>
			{{hashtags|sort_dict}}
			<!--{% for key in hashtags %}
				<li><span>{{key}}: </span><span></span></li>
			{% endfor %}-->
			</ul>
		{% endif %}
	</body>
	<script>
		document.getElementById("addMore").addEventListener('click', function(){
			var newLine = '<li><input type="text" name="q"></li>';
			document.getElementById('inputList').innerHTML += newLine;
			});
	</script>
</html>